<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='aos.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='boxicons.min.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='glightbox.min.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='remixicon.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">FER</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Team</a></li>
          <li><a class="nav-link scrollto" href="Fitgap">FitGap Analysis</a></li>
          <li><a class="nav-link scrollto" href="Top">Chart 1</a></li>
          <li><a class="nav-link scrollto" href="Least">Chart 2</a></li>
          <li><a class="nav-link scrollto" href="CAD_chart">Chart 3</a></li>          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Foreign Exchanges Rate Analysis</h1>
          <h2>We provide the common&nbsp;world currencies, which is relative to the currency EUR. Endpoint functionalities include getting the latest exchange rate data for all or a specific set of currencies, converting amounts from one currency to another, retrieving Time-Series data for one or multiple currencies and querying the API for daily fluctuation data.</h2>

</div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{{url_for('static', filename='hero-img.png') }}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->    <!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <h1>
            Members for our Final Project </h1>
			  
            <ul>
              <li><i class="ri-check-double-line"></i> </li>
              <li><i class="ri-check-double-line"></i> Lakshmi Yuvaraj (200476123)</li>
			  <li><i class="ri-check-double-line"></i> Moghanasundaram Suriya Babu (200469071)</li>
              <li><i class="ri-check-double-line"></i> Udhay Shankar Nagasundaram Sureshkumar (200473195)</li>
            </ul>			  
          </div>
			          <div class="col-lg-6 pt-4 pt-lg-0">
            <img src="{{url_for('static', filename='skills.png') }}" class="img-fluid" alt="">
          </div>
</div>

      </div>
    </section><!-- End About Us Section -->

    

</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
<div class="container footer-bottom clearfix">
    <div class="copyright">
        &copy; Copyright <strong><span>Data Programming</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="#">Geo</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='aos.js') }}" ></script>
  <script src="{{url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  <script src="{{url_for('static', filename='glightbox.min.js') }}"></script>
  <script src="{{url_for('static', filename='isotope.pkgd.min.js') }}"></script>
  <script src="{{url_for('static', filename='validate.js') }}"></script>
  <script src="{{url_for('static', filename='swiper-bundle.min.js') }}"></script>
  <script src="{{url_for('static', filename='noframework.waypoints.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='main.js') }}"></script>

</body>

</html>